# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

## Sass
.sass-cache

## Factory
craft/storage/backups/*
craft/storage/runtime/*
craft/storage/userphotos/*
public/uploads/*
public/cache/*
public/assets/css/*.css
public/assets/css/*.map


## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
