//
// Layout Defaults
//

// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  @include box-sizing(border-box);
}

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

// Get rid of gap under images by making them display: inline-block; by default
img { display: inline-block; }

body {
  padding: 0; margin: 0;
}

%clearfix { @include clearfix; }


/* ==========================================================================
   HEADER
   ========================================================================== */

.wrap {
	max-width:940px;
	margin:0 auto;
	width:90%;
}


ul.topTools {

	border-bottom:$border;
	padding:1.5em 0;

	li.cart {
		text-align:right;
	}
}

.logoWrap {
	padding:2em 0;
	text-align:center;

	img {
		vertical-align: middle;
	}
}

ul.nav 	{
	text-align:center;
	border-top:$border;
	border-bottom:$border;
	padding:1em 0;
	
	li {
		display:inline;
		text-transform: uppercase;
	}

	a {
		display:inline-block;
		padding:1em 1.5em;
	}
}

/* ==========================================================================
   Products
   ========================================================================== */


@media #{$small-up}{

	ul.products {

		li{
			vertical-align:top;
			margin:2%;
		}

	}
}





