{% paginate products from products.current by theme.products_per_page %}

  {% if products != blank %}
  <div class="slide-outer">
    <div class="slide-inner">
       <div id="slides">
          <img src="/images/banner/banner1.jpg" alt="">
          <img src="/images/banner/banner1.jpg" alt="">
          <img src="/images/banner/banner1.jpg" alt="">
       </div>
    </div>
  </div>
  <div class="row">
    <ul class="unstyled products">
      {% for product in products %}
      <li class="{{ product.css_class }} small-12 large-4">
        <a href="{{ product.url }}">
          <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url size: theme.product_image_size }}">
          <p>{{ product.name }}</p>
          <i class="price">{{ product.default_price | money_with_sign }}</i>
          {% if product.on_sale %}
            <em>On Sale</em>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
</div>
    {{ paginate | default_pagination }}

  {% else %}
    <p>No products found.</p>
  {% endif %}

{% endpaginate %}
